@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Oxygen:wght@300;400;700&display=swap');

/* Style Setup */

:root {

    /* These are temporary colors for now, later on we'll change them */

    --primary-color: #4B9CD3;
    --secondary-color: #F2F2F2;
    --tertiary-color: #FFFFFF;
    --text-color: #000000;
    --accent-color: #FF5733;

    /* To use the colors do the following
    property: var(--primary-color); or whatever color you want to use */
}

h1 {
    font: normal 400 1.875rem "Anton", sans-serif;
}

h2 {
    font: normal 400 1.6875rem "Antonio", sans-serif;
}

h3 {
    font: normal 400 1.375rem "Antonio", sans-serif;
}

p, a {
    font: normal 400 1rem "Oxygen", sans-serif;
}

/* Cleaned up some styling for fonts */

/* Style Setup End */

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: "Oxygen", sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header/Nav */

header {
    width: 100vw;
    background-color: var(--primary-color);
    padding: 0px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.nav-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav-items a {
    text-decoration: none;
    color: var(--text-color);
}

section.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    border-radius: 5px;
    width: 100px;
}

img {
    width: 50%;
}

div.hero-buttons {
    display: flex;
    flex-direction: row;
}

section.events {
    border: solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    width: 100vw;
    background-color: var(--primary-color);
    padding: 0px 15px;
}

@media screen and (min-width: 640px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items {
        flex-direction: row;
    }

    .nav-items li {
        margin-left: 15px;
    }
}