@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Oxygen:wght@300;400;700&display=swap');

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.container2{
    width: 100vw;
    background-color: #4B9CD3;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.container3{
    display: flex;
    flex-direction: column;
}

ul li {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    border-radius: 5px;
    width: 100px;
}

img {
    width: 50%;
}

.container5 {
    display: flex;
    flex-direction: row;
}

.container6 {
    border: solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.container7 {
    width: 100vw;
    background-color: #4B9CD3;
    padding: 0px 15px;
}

h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

h2 {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 27;
}

h3 {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 22;
}

p, a {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

@media screen and (min-width: 640px) {
    .container{
        padding: 10px;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container3{
        flex-direction: row;
    }

    .item1 {
        margin-left: 15px;
    }
}